<div class="local-footer" id="elixir-banner" data-use-cdr-logo="false" data-color="blue" data-name="ChEMBL" data-description="ChEMBL is an Elixir Core Data Resource" data-more-information-link="https://www.elixir-europe.org/about-us/who-we-are/nodes/embl-ebi" data-use-basic-styles="true"></div>
    <script defer="defer" src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/elixirBanner.js"></script>
<footer>
    <div id="global-footer" class="global-footer">
        <section id="ebi-footer-meta" class="ebi-footer-meta row">
            <div class="col"><p class="address">Keter's Chemistry UI is powered by ChEMBL technology.</p>
                <p class="legal">ChEMBL is copyright © EMBL-EBI 2018 | EMBL-EBI is <a href="http://www.embl.org/">part of the
                    European Molecular Biology Laboratory</a></p></div>
        </section>
    </div>
</footer>