{% verbatim %}
<script id="Handlebars-Common-AdvancedSearchModal" type="text/x-handlebars-template" data-starting-top="0%">
    <div id="{{id}}" class='modal'
         style="display: none; width:85% !important; max-height: 100vh !important; overflow-y: hidden !important ; overflow-x: hidden !important; height: 100vh !important;">
        <div class="advanced-search-container">

            <div class="tabs-headers-container">

                <a class="BCK-select-tab tab-selector selected" data-tab="chemical_structure">
                    Chemical Structure
                </a>

                <a class="BCK-select-tab tab-selector" data-tab="biological_sequence">
                    Biological Sequence
                </a>

                <a class="BCK-select-tab tab-selector" data-tab="search_by_ids">
                    Search by IDs
                </a>

            </div>
            <div class="tabs-content-container">

                <div class="BCK-Structure-Search tab-content BCK-tab-content">
                    {% endverbatim %}
                    {% with in_modal=False %}
                        {% include "glados/Sketchers/marvinSearch.html" %}
                    {% endwith %}
                    {% verbatim %}
                </div>

                <div class="BCK-BiologicalSequence-Search tab-content BCK-tab-content">
                    Biological Sequence Search!
                </div>

                <div class="BCK-ByIDs-Search tab-content BCK-tab-content">
                    Biological Sequence Search!
                </div>

            </div>
        </div>
    </div>
</script>
{% endverbatim %}